.pageheading {
  background-color: #000000;
  padding: 10px;
  color: #ffffff;
}

.blackbox {
  background-color: #000000;
  padding: 10px;
}

p {
  padding: 10px;
}

.graybox {
  background-color: #D3D3D3;
  padding: 10px;
}

.darkgraybox {
	background-color: #373737;
	color: white;
}

.button {
  transition-duration: 0.4s;
  background-color: #373737;
  border: none;
  color: white;
  padding: 4px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 12px;
}

.button:hover {
  background-color: #d3d3d3; /* Green */
  color: black;
}

.whitebutton {
	transition-duration: 0.4s;
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 4px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 12px;
}

.whitebutton:hover {
  background-color: #373737; /* Green */
  color: white;
}

.rightmargin {
	margin-right: 60%;
}

.fourtymargin {
	margin-right: 40%;
}

.maxwidth img{
	width:100%;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-50deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

html {
  animation: transitionIn 2s;
}